@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova&family=Montserrat&family=Playfair+Display:ital,wght@0,600;1,400;1,500&family=Roboto+Mono:wght@500&family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova&family=Playfair+Display:ital,wght@0,600;1,400;1,500&family=Roboto+Mono:wght@500&family=Work+Sans:wght@200&display=swap');

body {
    background-image: url(./imageBP/boites.jpeg.png);
    background-size: cover;
}
header{
    font-size: 20px;
}

header p {
    font-weight: 700;
}

.nav-items {

    display: flex;
    padding-left: 60%;
    padding-bottom: 20px;
    justify-content: space-around;
    margin-right: 50px;
    
   
}
.nav-items::after{
    content: "";
    transform: scale(0);
    transition: transform 0.3s ease-in-out;

}
.nav-items:hover::after{
    transform: scale(1) ;
}
p {
    margin-left: 65px;
    font-family: 'Playfair' sans-serif;
    font-size: 20px;
    color: black;
    display: flex;

}
.images{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.hr{
    background-color: rgb(80,133,214);
    height: 3px;
    border: none ;
}


.text {
    text-align: center;
    font-size: 15px;
}

.container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    height: 350px;
    width: 300px;
    background-color: rgb(255, 255, 255) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 3px 4px 10px rgb(144, 150, 212);
}

.img{
    height:300px;
    width: 300px;
    overflow: hidden;
}


.card h3{
    font-size: 15px;
    padding-top: 15px;
    display:flex;
    justify-content: center;
    text-align: center;
}

.hr{
    background-color: rgb(80,133,214);
    height: 3px;
    border: none ;
}